   <div class="col-xs-10 col-xs-offset-1 about">
      <h1>About Quote Boss</h1>
        <p>
          QuoteBoss was built by <a target="_blank" href="https://github.com/TerrenceBeckham">Terrence Beckham</a>  A web developer on a mission to expose and publicise the absolute inanity of our ruling political class.
        </p>
  <br />
       <p>
          He specilizes in Ruby on Rails, but is keen to learn other stacks and is presently learning Python and Django
      </p>
       <p>
         He is a student at <a target="_blank" href="http://www.thefirehoseproject.com/"
        >The The Firehose Project</a> and recommends it to all aspiring web developers.
        </p>

         <div class="col-xs-12 col-sm-4">
    <%= image_tag 'me.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Terrence Beckham</h2>
    <br />
    <p>
      Terrence Beckham is a fullstack web developer. He uses ruby on rails to develop applications for clients.
    </p>
  </div>

  <br class="clear" />
<br />
<br />
<br />
<br />